* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    background-color: #DAE0F2;
    align-items: center;
    text-align: center;
}
.output-area {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 30%;
    margin-top: 50px;
    border: 2px solid #111344;
    background-color: #f9cff2;
    color: #111344;
    font-size: 20px;
}
.title {
    margin-top: 50px;
    color: #52154e;
}
.keyboard {
    display: flex;
    width: 800px;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.keyboard-key-num {
    width: 50px;
    height: 50px;
}
.keyboard-key-triple {
    width: 150px;
    height: 50px;
}
.keyboard-key-double {
    width: 100px;
    height: 50px;
}
.keyboard-key-space {
    width: 350px;
    height: 50px;
}
.red:hover {
    background-color: aqua;
}
